﻿<p ng-message="minlength">Input not valid</p>
<p ng-message="maxlength">Maximum value exceeded</p>
<p ng-message="required">This field is required</p>
<p ng-message="email">This needs to be a valid email</p>