﻿<div class="container">
    <div class="row">
        <h1 class="text-center">Student Portal </h1>
        <div class="row">
            <div class="col-md-3">
                <ul class="sub">
                    <li><a ui-sref="home.newstudent">Add New</a></li>
                    <li><a ui-sref="home.viewstudent">View Students</a></li>
                </ul>
            </div>
            <div ui-view name="bodyContent"></div>
        </div>
    </div>
</div>
