﻿    <div class="col-md-8 col-md-offset-3">
        <h3>Create New Student</h3>
        <form name="registerForm" novalidate>
            <div class="form-group" data-ng-class="{'has-error': registerForm.firstname.$invalid && !registerForm.firstname.$pristine, 'has-success': registerForm.firstname.$valid}">
                <label for="exampleInputEmail1">First Name</label>
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Student's First Name" data-ng-model="formData.firstname" required>
                <div data-ng-messages="registerForm.firstname.$error" data-ng-show="registerForm.firstname.$touched">
                    <div ng-messages-include="validation.html" class="text-danger"></div>
                </div>
            </div>
            <div class="form-group" data-ng-class="{'has-error': registerForm.lastname.$invalid && !registerForm.lastname.$pristine, 'has-success': registerForm.lastname.$valid}">
                <label for=" exampleinputemail1">
                Last Name</label>
                <input type="text" class="form-control" id="firstname" name="lastname" placeholder="Student's Last Name" data-ng-model="formData.lastname" required>
                <div data-ng-messages="registerForm.lastname.$error" data-ng-show="registerForm.lastname.$touched">
                    <div ng-messages-include="validation.html" class="text-danger"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Date of Birth</label>
                <input type="date" class="form-control" id="DOB" name="dob" placeholder="Student's Date of Birth" data-ng-model="formData.dob">
            </div>
            <div class="form-group" data-ng-class="{'has-error': registerForm.department.$invalid && !registerForm.department.$pristine, 'has-success': registerForm.department.$valid}">
                <label for="exampleInputPassword1">Department</label>
                <input type="text" class="form-control" id="department" name="department" placeholder="Student's Department" data-ng-model="formData.department" required>
                <div data-ng-messages="registerForm.department.$error" data-ng-show="registerForm.department.$touched">
                    <div ng-messages-include="validation.html" class="text-danger"></div>
                </div>
            </div>
            <div class="form-group" data-ng-class="{'has-error': registerForm.level.$invalid && !registerForm.level.$pristine, 'has-success': registerForm.level.$valid}">
                <label for="exampleInputPassword1">Level</label>
                <input type="text" class="form-control" id="level" name="level" placeholder="Student's Level" data-ng-model="formData.level" required>
                <div data-ng-messages="registerForm.level.$error" data-ng-show="registerForm.level.$touched">
                    <div ng-messages-include="validation.html" class="text-danger"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Written By</label>
                <input type="text" class="form-control" id="writtenBy" name="wittenBy" data-ng-model="formData.ProgramWrittenBy" disabled>
            </div>
            <button type="submit" class="btn btn-info" data-ng-click="create()" data-ng-disabled="registerForm.$invalid">Create Student</button>
        </form>

    </div>
