﻿<div class="col-md-8 col-md-offset-3">
    <h3>View Student</h3>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Department</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="student in students">
                <td>{{student.firstName}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.dob | date}}</td>
                <td>{{student.department}}</td>
                <td>{{student.level}}</td>
            </tr>
        </tbody>
    </table>
</div>